<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Reservation</title>
    <script src="../../../templates/countries.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/css/demo.css">
</head>
<body>
    <form action="../../../templates/checkOut.html" method = "post">
        <div><label></br>Select Country:</label>
        <select id="country" name="country"></select>
            <label>Select State:</label>
        <select name="state" id="state"></select>
            <br/></div>

        <script language="javascript">
            populateCountries("country", "state");
            populateCountries("country2");
        </script>

        <div><label>Select Hotel:</label>
             <select id = "myList"
               <!-- Take from database-->
             </select></div>

         <div><label>Room Type</label>
             <select id = "myList">
               <!-- Take from database -->
             </select></div>
        <!-- Services provided to customer-->

        <div><label>Available Discounts</label>
            <select id = "myList">
                <!-- Take from database -->
            </select></div>

        <input type="submit" value="Make a Payment"></form>
</body>
</html>